
as: auto_shift {
  compatible = "zmk,behavior-hold-tap";
  label = "AUTO_SHIFT";
  #binding-cells = <2>;
  tapping_term_ms = <135>;
  quick_tap_ms = <0>;
  flavor = "tap-preferred";
  bindings = <&kp>, <&kp>;
};
mo_tog: behavior_mo_tog {
  compatible = "zmk,behavior-hold-tap";
  label = "mo_tog";
  #binding-cells = <2>;
  flavor = "hold-preferred";
  tapping-term-ms = <200>;
  bindings = <&mo>, <&tog>;
};
kp_sk: keypress_stickykey {
  compatible = "zmk,behavior-hold-tap";
  label = "kp_sk";
  #binding-cells = <2>;
  flavor = "hold-preferred";
  tapping-term-ms = <200>;
  bindings = <&kp>, <&sk>;
};
kp_sl: keypress_stickylayer {
  compatible = "zmk,behavior-hold-tap";
  label = "kp_sl";
  #binding-cells = <2>;
  flavor = "hold-preferred";
  tapping-term-ms = <200>;
  bindings = <&kp>, <&sl>;
};
left_kp_sl_to: left_kp_sl_to { \
    compatible = "zmk,behavior-tap-dance";
    label = "left_kp_sl_to";
    #binding-cells = <0>;
    tapping-term-ms = <225>;
    bindings = <&kp LCTL>, <&sl SYM>, <&to SYM>;
};
right_kp_sl_to: right_kp_sl_to { \
    compatible = "zmk,behavior-tap-dance";
    label = "right_kp_sl_to";
    #binding-cells = <0>;
    tapping-term-ms = <225>;
    bindings = <&kp LGUI>, <&sl NUM>, <&to NUM>;
};
