// indebted and with much reference to dxmh's zmk-config

compatible = "zmk,combos";
#define LONG_TIMEOUT_MS 100
#define NORMAL_LAYERS 0 1 2 3 4 5 6 7 8 9 10 11 12

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <NORMAL_LAYERS>; \
  };

#define COMBO_LONG(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <NORMAL_LAYERS>; \
    timeout-ms = <LONG_TIMEOUT_MS>; \
  };

#define LAYER_COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

/*           34 Keys
╭──────────────╮ ╭──────────────╮
│ 0  1  2  3  4│ │ 5  6  7  8  9│
│10 11 12 13 14│ │15 16 17 18 19│
│20 21 22 23 24│ │25 26 27 28 29│
╰────────╮30 31│ │32 33╭────────╯
         ╰─────╯ ╰─────╯         */

// Left side
COMBO(l_esc, &kp ESC, 1 2)
COMBO(l_tab, &kp TAB, 2 3)
COMBO(l_insert, &kp INS, 3 4)

COMBO(l_return, &kp RET, 11 12)
COMBO(l_mbase, &td_mbase, 12 13)

COMBO(l_backspace, &kp BSPC, 21 22)
COMBO(l_delete, &kp DEL, 22 23)

COMBO(l_alttab, &swap, 2 12)
COMBO(l_nav, &td_nav, 3 13)
COMBO(l_mouse, &tog MOS, 4 14)
COMBO(l_printscreen, &kp PSCRN, 4 24)
COMBO(l_base, &to BASE, 14 24)

COMBO(l_scut, &sl SCUT, 0 30)
COMBO(l_numpad, &td_npd, 3 30)
COMBO(l_fun, &td_fun, 14 30)
COMBO(l_multimedia, &tog MUL, 20 30)
COMBO(l_compose, &kp LS(RALT), 24 30)

COMBO(l_sys, &sl SYS, 0 4)
COMBO(l_reset, &sys_reset, 20 24)
COMBO(l_bootloader, &bootloader, 0 10 20)

LAYER_COMBO(l_mouse_mclk, &mkp MCLK, 30 31, MOS)

// Right side
COMBO(r_insert, &kp INS, 5 6)
COMBO(r_tab, &kp TAB, 6 7)
COMBO(r_esc, &kp ESC, 7 8)

COMBO(r_mbase, &td_mbase, 16 17)
COMBO(r_return, &kp RET, 17 18)

COMBO(r_delete, &kp DEL, 26 27)
COMBO(r_backspace, &kp BSPC, 27 28)

COMBO(r_mouse, &tog MOS, 5 15)
COMBO(r_printscreen, &kp PSCRN, 5 25)
COMBO(r_base, &to BASE, 15 25)
COMBO(r_nav, &td_nav, 6 16)
COMBO(r_alttab, &swap, 7 17)

COMBO(r_numpad, &td_npd, 6 33)
COMBO(r_scut, &sl SCUT, 9 33)
COMBO(r_fun, &td_fun, 15 33)
COMBO(r_compose, &kp LS(RALT), 25 33)
COMBO(r_multimedia, &tog MUL, 29 33)

COMBO(r_sys, &sl SYS, 5 9)
COMBO(r_reset, &sys_reset, 25 29)
COMBO(r_bootloader, &bootloader,  9 19 29)

LAYER_COMBO(r_mouse_mclk, &mkp MCLK, 32 33, MOS)

// Both sides
COMBO_LONG(capsword, &caps_word, 14 15)
COMBO_LONG(lockscreen, &kp PAUSE_BREAK, 24 25)
