/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

#define BR_GRAVE LS(LBKT)
#define BR_QUOTE GRAVE
#define BR_TILDE QUOT
#define BR_SEMI SLASH
#define BR_LBKT RBKT
#define BR_RBKT BSLH
#define BR_SLASH (ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_INTERNATIONAL1))
#define BR_BSLH NON_US_BSLH

#define AS(keycode) &as LS(keycode) keycode // Autoshift Macro
// Macro to apply momentary-layer-on-hold/toggle-layer-on-tap
// to a specific layer
#define MO_TOG(layer) &mo_tog layer layer
#define KP_SL_TO(key, layer) &kp_sl_to key layer layer

#define BAS 0
#define NUM 1
#define NPD 2
#define SYM 3
#define NAV 4
#define MOS 5
#define FUN 6
#define MNT 7

&caps_word {
  continue-list = <UNDERSCORE MINUS BACKSPACE>;
};

&mt {
  tapping-term-ms = <250>;
};

&sl {
  release-after-ms = <3000>;
};

/ {
  combos {
    #include "combos.dtsi"
  };

  behaviors {
    #include "behaviors.dtsi"
  };
};

/*           34 Keys
╭──────────────╮ ╭──────────────╮
│ 0  1  2  3  4│ │ 5  6  7  8  9│
│10 11 12 13 14│ │15 16 17 18 19│
│20 21 22 23 24│ │25 26 27 28 29│
╰────────╮30 31│ │32 33╭────────╯
         ╰─────╯ ╰─────╯         */

/ {
  keymap {
    compatible = "zmk,keymap";

    qwerty_layer {
// -----------------------------------------------------------------
// |  Q  |  W  |  E  |  R  |  T  | |  Y  |  U  |  I  |  O  |  P  |
// |  A  |  S  |  D  |  F  |  G  | |  H  |  J  |  K  |  L  |  ~  |
// |  Z  |  X  |  C  |  V  |  B  | |  N  |  M  |  ,  |  .  |  ;  |
//                   |LCTL | SPC | |LGUI |LALT |
      bindings = <
&kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I     &kp O   &kp P
&kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K     &kp L   &kp BR_TILDE
&kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp BR_SEMI
&kp_sl LCTL SYM &mt LSHFT SPACE &kp_sl LGUI NUM &mt LALT LS(RALT)
      >;
    };

   number_layer {
// -----------------------------------------------------------------
// |  1  |  2  |  3  |  4  |  5  | |  6  |  7  |  8  |  9  |  0  |
// |     |     |     |     |     | |  [  |  -  |  =  |  `  |  '  |
// |     |     |     |     |     | |  ]  |  \  |  ,  |  .  |  /  |
//                   |LCTL | SPC | |LGUI |LALT |
      bindings = <
&kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6      &kp N7      &kp N8    &kp N9       &kp N0
&none  &none  &none  &none  &none  &kp BR_LBKT &kp MINUS   &kp EQUAL &kp BR_GRAVE &kp BR_QUOTE
&none  &none  &none  &none  &none  &kp BR_RBKT &kp BR_BSLH &kp COMMA &kp DOT      &kp BR_SLASH
&sk LCTL &trans &sk LGUI &sk LALT
      >;
    };

    numpad_layer {
// -----------------------------------------------------------------
// |     |     |  /  |  *  |     | |  0  |  1  |  2  |  3  |     |
// |     |     |  -  |  +  |     | |  .  |  4  |  5  |  6  |     |
// |     |     |  %  |  =  |     | |  ~  |  7  |  8  |  9  |     |
//                   |LCTL | SPC | |LGUI |LALT |
      bindings = <
&none &none &kp SLASH &kp STAR  &none &kp N0    &kp N1 &kp N2 &kp N3 &none
&none &none &kp MINUS &kp PLUS  &none &kp DOT   &kp N4 &kp N5 &kp N6 &none
&none &none &kp PRCT  &kp EQUAL &none &kp TILDE &kp N7 &kp N8 &kp N9 &none
&sk LCTL &trans &sk LGUI &sk LALT
      >;
    };

   symbol_layer {
// -----------------------------------------------------------------
// |  !  |  @  |  #  |  $  |  %  | |  ¨  |  &  |  *  |  (  |  )  |
// |     |     |     |     |     | |  {  |  _  |  +  |  `  |  "  |
// |     |     |     |     |     | |  }  |  |  |  <  |  >  |  ?  |
//                   |LCTL | SPC | |LGUI |LALT |
      bindings = <
&kp LS(N1) &kp LS(N2) &kp LS(N3) &kp LS(N4) &kp LS(N5) &kp LS(N6)      &kp LS(N7)      &kp LS(N8)    &kp LS(N9)       &kp LS(N0)
&none      &none      &none      &none      &none      &kp LS(BR_LBKT) &kp LS(MINUS)   &kp LS(EQUAL) &kp LS(BR_GRAVE) &kp LS(BR_QUOTE)
&none      &none      &none      &none      &none      &kp LS(BR_RBKT) &kp LS(BR_BSLH) &kp LS(COMMA) &kp LS(DOT)      &kp LS(BR_SLASH)
&sk LCTL &trans &sk LGUI &sk LALT
      >;
    };

    nav_layer {
// -----------------------------------------------------------------
// |LSHFT|LGUI |LALT |LCTL |     | | HOM |PG_DN|PG_UP| END |     |
// |     |     |     |     |     | | LFT | DWN | U P |RIGHT|     |
// |     |     |     |     |     | |     |     |     |     |     |
//                   |LCTL | SPC | |LGUI |LALT |
      bindings = <
&kp LSHFT &kp LGUI &kp LALT &kp LCTL &none &kp HOME &kp PG_DN &kp PG_UP &kp END   &none
&none     &none    &none    &none    &none &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &none
&none     &none    &none    &none    &none &none    &none     &none     &none     &none
&trans &trans &trans &trans
      >;
    };

    mouse_layer {
// -----------------------------------------------------------------
// |LSHFT|LGUI |LALT |LCTL |     | |SCR L|SCRDN|SCRUP|SCR R|     |
// |     |     |     |     |     | |MOV L|MOVDN|MOVUP|MOV R|     |
// |     |     |     |     |     | |     |     |     |     |     |
//                   |LCTL | SPC | |LCLK |RCLK |
      bindings = <
&kp LSHFT &kp LGUI &kp LALT &kp LCTL &none &mwh SCROLL_LEFT &mwh SCROLL_DOWN &mwh SCROLL_UP &mwh SCROLL_RIGHT &none
&none     &none    &none    &none    &none &mmv MOVE_LEFT   &mmv MOVE_DOWN   &mmv MOVE_UP   &mmv MOVE_RIGHT   &none
&none     &none    &none    &none    &none &none            &none            &none          &none             &none
&trans &trans &mkp LCLK &mkp RCLK
      >;
    };

    fun_layer {
// -----------------------------------------------------------------
// |LSHFT|LGUI |LALT |LCTL |     | | F10 | F 1 | F 2 | F 3 |     |
// |     |     |     |     |     | | F11 | F 4 | F 5 | F 6 |     |
// |     |     |     |     |     | | F12 | F 7 | F 8 | F 9 |     |
//                   |LCTL | SPC | |LGUI |LALT |
      bindings = <
&kp LSHFT &kp LGUI &kp LALT &kp LCTL &none &kp F10 &kp F1 &kp F2 &kp F3 &none
&none     &none    &none    &none    &none &kp F11 &kp F4 &kp F5 &kp F6 &none
&none     &none    &none    &none    &none &kp F12 &kp F7 &kp F8 &kp F9 &none
&trans &trans &trans &trans
      >;
    };

    maint_layer {
// -----------------------------------------------------------------
// |     | BT2 | BT1 | BT0 | BLE | |     |     |     |     |     |
// |     |BTCLR|BOOTL|RESET| USB | |     |     |     |     |     |
// |     |     |     |     |     | |     |     |     |     |     |
//                   |     |     | |     |     |
      // impactful buttons
      // Bluetooth clear, reset, chaning BLE/USB preference, bootloader
      bindings = <
&none  &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0 &out OUT_BLE &none &none &none &none &none
&none  &bt BT_CLR   &bootloader  &reset       &out OUT_USB &none &none &none &none &none
&none  &none        &none        &none        &none &none  &none &none &none &none
&none &none &none &none
      >;
    };
  };
};
