#undef LEADER
#define LEADER(name, leader_bindings, leader_sequence) \
  leader_sequence_ ## name { \
    bindings = <leader_bindings>; \
    sequence = <leader_sequence>; \
  };

LEADER(krunner, &kp LA(SPACE), SPACE)

LEADER(l_ctrlaltdel, &kp LC(LA(DEL)), Q)
LEADER(l_symbol, &sl SYMBOL, F)
LEADER(l_symbol_mirror, &sl SYMBOL_MIRROR, D)
LEADER(l_term_new, &kp LC(LA(T)), T T)
LEADER(l_term_tab, &kp LC(LS(T)), T G)

LEADER(r_ctrlaltdel, &kp LC(LA(DEL)), P)
LEADER(r_symbol, &sl SYMBOL, J)
LEADER(r_symbol_mirror, &sl SYMBOL_MIRROR, K)
LEADER(r_term_new, &kp LC(LA(T)), Y Y)
LEADER(r_term_tab, &kp LC(LS(T)), Y H)

// Accented chars: compose key + accent + letter (see macros.dtsi for OS setup)
LEADER(br_a_acute, &compose_acute A, A A)
LEADER(br_a_grave, &compose_grave A, A G)
LEADER(br_a_tilde, &compose_tilde A, A T)
LEADER(br_a_circ,  &compose_circ A,  A C)
LEADER(br_e_acute, &compose_acute E, E E)
LEADER(br_e_circ,  &compose_circ E,  E C)
LEADER(br_i_acute, &compose_acute I, I I)
LEADER(br_o_acute, &compose_acute O, O O)
LEADER(br_o_circ,  &compose_circ O,  O C)
LEADER(br_o_tilde, &compose_tilde O, O T)
LEADER(br_u_acute, &compose_acute U, U U)
LEADER(br_cedil,   &compose_cedil,   C C)
