#undef LEADER
#define LEADER(name, leader_bindings, leader_sequence) \
  leader_sequence_ ## name { \
    bindings = <leader_bindings>; \
    sequence = <leader_sequence>; \
  };

LEADER(krunner, &kp LA(SPACE), SPACE)

LEADER(l_ctrlaltdel, &kp LC(LA(DEL)), Q)
LEADER(l_symbol, &sl SYMBOL, F)
LEADER(l_symbol_mirror, &sl SYMBOL_MIRROR, D)
LEADER(l_term_new, &kp LC(LA(T)), T T)
LEADER(l_term_tab, &kp LC(LS(T)), T G)

LEADER(r_ctrlaltdel, &kp LC(LA(DEL)), P)
LEADER(r_symbol, &sl SYMBOL, J)
LEADER(r_symbol_mirror, &sl SYMBOL_MIRROR, K)
LEADER(r_term_new, &kp LC(LA(T)), Y Y)
LEADER(r_term_tab, &kp LC(LS(T)), Y H)
